management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  application:
    name: trade-api
  profiles:
    active: local
  config:
    import: "optional:consul:"

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s